# Data manipulation
pandas
openpyxl
holidays
XlsxWriter

# Data visualization
tabulate
ipywidgets
matplotlib
plotly

# Authentication and environment variables
requests
python-dotenv

# Google Cloud Platform
google-cloud-storage
gcsfs
google-auth

# API
streamlit
