# Data manipulation
pandas
openpyxl
notebook
holidays
XlsxWriter

# Data visualization
tabulate
ipywidgets
matplotlib
display
plotly

# Authentication and environment variables
requests
python-dotenv

# Google Cloud Platform
google-cloud-storage
gcsfs

# Authentication and environment variables
google-auth
python-dotenv==0.19.0

# API
streamlit
