# Data manipulation
pandas
openpyxl
notebook
holidays
XlsxWriter

# Data visualization
tabulate
ipywidgets
matplotlib
display

# Authentication and environment variables
requests
python-dotenv

# API
streamlit
