/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}


/* titre */
h1 {
  color: red;
}

/* dates de la période */
.period-text {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}

.period-text2 {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

/* separateur */
hr.custom-separator {
  border: 2px solid red;
}

/* ajout d'un footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9em;
}
